data/*
figures/*
models/*

!data/**/
!figures/**/
!models/**/

!data/**/.gitkeep
!figures/**/.gitkeep
!models/**/.gitkeep

*.csv
*.png
*.npy

__pycache__/
.venv/
.python-version
.uv/

.DS_Store

.ipynb_checkpoints/